<div class="bg-base-300">
    <div class="container mx-auto flex p-2">
        <small class="grow text-center">Free shipping</small>
        <div class="divider lg:divider-horizontal"></div>
        <small class="grow text-center">Ordered before 14:00, shipped today</small>
        <div class="divider lg:divider-horizontal"></div>
        <small class="grow text-center">Ordered before 14:00, shipped today</small>
    </div>
</div>