{% extends 'checkout.base.html.twig' %}

{% block title %}Checkout{% endblock %}
{% set isCheckout = true %}
{% set title = 'Checkout'|trans %}

{% block body %}
    <div class="container mx-auto mt-8">
    </div>
{% endblock %}
