{% extends 'checkout.base.html.twig' %}

{% block title %}Checkout ~ Shipment{% endblock %}
{% set isCheckout = true %}
{% set title = 'Checkout'|trans %}

{% block body %}
    <div class="container mx-auto mt-2 grid grid-cols-8 items-center">
        <checkout-header :current-step="2"></checkout-header>
        <checkout-shipment-step :input-selected-shipping-method="{{ selectedShippingMethod|json_encode }}" :shipping-methods="{{ shippingMethods|json_encode }}"></checkout-shipment-step>
    </div>
{% endblock %}
