<div class="navbar bg-neutral text-neutral-content fixed z-20" style="height: 4.5rem">
    <div class="flex-1">
    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <div tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="https://placeimg.com/80/80/people"/>
                </div>
            </div>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li class="text-accent-content">
                    <a href="{{ path('app_customer_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>