@tailwind base;
@tailwind components;
@tailwind utilities;

/* Line Awesome */
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Orbitron:200,300,400,500,600,700);

* {
  font-family: Roboto, sans-serif
}

h1, h2, h3 {
  font-family: Orbitron, Roboto, sans-serif;
}

.la-2-5x {
  font-size: 2.5em;
}

@media (max-width: 767px) {
  .container {
    max-width: 80rem;
  }
}

.product_row__item {
  position: relative;

  .product_row__item-info {
  }
}
