@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Orbitron:200,300,400,500,600,700);

* {
  font-family: Roboto, sans-serif
}

h1, h2, h3 {
  font-family: Orbitron, Roboto, sans-serif;
}

.footer-title {
  opacity: 1;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

.fixed {
  .logo_small {
    display: block;
  }

  .logo_full, .hidden-fixed {
    display: none;
  }
}

.la-2-5x {
  font-size: 2.5em;
}

@media (max-width: 767px) {
  .container {
    max-width: 80rem;
  }
}

.product_row__item {
  position: relative;

  .product_row__item-info {
  }
}

.product__details-configuration-items {
  .product__details-configuration-item {
    border: 1px solid hsl(var(--b3));
    border-bottom-width: 2px;

    span {

    }

    &:focus, &:hover, &.__active {
      border-color: hsl(var(--a));
    }

    &.__active {
      background-color: hsl(var(--b2));
    }
  }
}

.checkout-step-container {
  min-width: 450px;
}


.maintenance {
  margin: 0 !important;
  overflow: hidden;

  .video-container {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.cart__totals-totals {
  strong {
    text-align: right;
  }

  strong:nth-last-child(1), span:nth-last-child(2) {
    margin-top: .75rem;
    font-size: 1.12rem;
    font-weight: bold;
  }
}

.customer_menu {

}