@import "@glidejs/glide/src/assets/sass/glide.core";
@import "@glidejs/glide/src/assets/sass/glide.theme";

.glide {
  .glide__track {

  }

  .glide__arrows {
    .glide__arrow {
      border-width: 1px;
      background-color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 2px 3px 0;
      user-select: none;

      &.glide__arrow--right {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      &.glide__arrow--left {
        left: 0;
      }
    }
  }
}